Question 5

In [1]:
import numpy as np
import pandas as pd

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
chipo.shape

(4622, 5)

In [5]:
chipo.shape[1]

5

In [6]:
chipo.head(0)

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [9]:
chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [10]:
chipo.groupby(by="choice_description").sum().sort_values('quantity',ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [11]:
chipo.item_name.count()

4622

In [12]:
chipo.item_price.dtype

dtype('O')

In [13]:
dollar = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollar)

In [14]:
chipo.item_price.dtype

dtype('float64')

In [15]:
revenue =  (chipo.item_price * chipo.quantity).sum()
print('The revenue for this period is : $ '+ str(revenue))

The revenue for this period is : $ 39237.02

In [16]:
chipo.order_id.value_counts().count()

1834

In [17]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [18]:
chipo.item_name.value_counts().count()

50